extends layout

block content
  h1= title
  p This app shows how to access MS Access DB using NodeJS
  a(href='users'): button(type='button').btn.btn-primary Click here to view Users data from MS Access DB
